@import '@ibm/plex/css/ibm-plex.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply bg-gray-50;

		color-scheme: light;
	}

	html.dark {
		@apply bg-black;

		color-scheme: dark;
	}
}
